.wrapper {
  overflow: hidden;
}

.container {
  width: 1170px;
  // height: 410px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  // overflow: hidden;

  @media (max-width: 768px) {
    .container {
      width: 750px;
    }
  }

  @media (max-width: 992px) {
    .container {
      width: 970px;
    }
  }

  @media (max-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  &:last-of-type {
    margin-bottom: 200px;
  }
}


.box-container {
  position: relative;
}

.box-top {
  border-top: 3px solid black;
  position: absolute;
  top:-1000%;
  left: 0px;
  border-left: 3px solid rgba(999, 999, 999, .0);  
  border-right: 3px solid rgba(999, 999, 999, .0);   
  border-bottom: 3px solid rgba(999, 999, 999, .0); 
}

.box-right {
  border-right: 3px solid black;
  position: absolute;
  top: 0px;
  left: -1000%;
  border-top: 3px solid rgba(999, 999, 999, .0);  
  border-bottom: 3px solid rgba(999, 999, 999, .0);  
  border-left: 3px solid rgba(999, 999, 999, .0); 
}

.box-bottom {
  border-bottom: 3px solid black;
  position: absolute;
  top: 1000%;
  left: 0px;
  border-left: 3px solid rgba(999, 999, 999, .0);  
  border-right: 3px solid rgba(999, 999, 999, .0); 
  border-top: 3px solid rgba(999, 999, 999, .0);  
}

.box-left {
  border-left: 3px solid black;
  position: absolute;
  top: 0px;
  left: 1000%;
  border-top: 3px solid rgba(999, 999, 999, .0);  
  border-bottom: 3px solid rgba(999, 999, 999, .0); 
  border-right: 3px solid rgba(999, 999, 999, .0); 
}

.box-one {
  width: 400px;
  height: 400px;
  margin: auto auto;
}

.box-two {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.box-three {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.animate-button {
  position: absolute;
  border: none;
  outline: none;
}

.button-lg {
  width: 403px;
  height: 403px;
  margin: auto auto;  
}

.button-md {
  width: 203px;
  height: 203px;
}

.button-sm {
  width: 153px;
  height: 153px;
}

.small-margin {
  margin: auto 5%;
}

.active-button {
  cursor: pointer;
}

.centered {
  display: block;
  margin: auto auto;
}

#section-2 {
  width: 950px;
}

#section-3 {
  width: 1050px;
}

#master-button {
  cursor: pointer;
}

#reset-button {
  cursor: pointer;
}

#control-div {
  margin: auto auto;
  width: 150px;
}

.inline-block {
  display: inline-block;
}